$gsm: map-get($grid-breakpoints, "sm")
$glg: map-get($grid-breakpoints, "lg")

// заголовки
h2
  margin-top: 5rem
h3 
  margin-top: 3rem
  // color: $gray-500
.title
  font-weight: bold
h4.title
  font-weight: 500

.h1ar
  font-size: 3.4rem
  @media screen and (max-width: $glg)
    // font-size: 45px
    font-weight: bold
.h2ar
  font-size: 50px
  @media screen and (max-width: $glg)
    // font-size: 40px
.h2ru
  font-size: 40px

.h3ar 
  font-size: 2.1rem



.container
  width: 100%
  margin-right: auto
  margin-left: auto
  padding-right: 15px
  padding-left: 15px
  @media (min-width: 576px)
    max-width: 540px
  @media (min-width: 768px)
    max-width: 720px
  @media (min-width: 992px)
    max-width: 960px
  @media (min-width: 1200px)
    max-width: 1140px
  


// описние материала
.desc
  margin-bottom: 30px
  color: $gray-600
  padding-bottom: 10px
  line-height: 1.5
  font-size: 21px
  // &:first-child
  //   padding-bottom: 0
  &__ar
    font-size: 1.5rem


// Выделение слов
.contrast
  color: $red
  &_2
    color: $teal

// Арабское предложение с переводом
.arsent
  margin-bottom: 35px
  margin-top: 20px
  @media screen and (max-width: $glg)
    margin-bottom: 30px
  &__original
    line-height: 1.9
    font-size: 30px
  &__translate
    line-height: 1.5
    font-size: 0.9rem

    
// FLEXABILITY
.arsent
  display: flex
  flex-direction: row-reverse
  align-items: center
  justify-content: flex-start
  flex-wrap: wrap
  &__original
    padding-left: 20px

// THEME
.arsent
  &_rule
    display: inline-block /// ------------------------
    box-shadow: $bmd-shadow-8dp
    background: $gray-900
    color: $white
    padding: 30px
    border-radius: 10px
    transition: .3s
    & > *
      width: 100%
    &:hover
      box-shadow: $bmd-shadow-16dp
    .contrast
      color: $red
      &_2
        color: $cyan
    .arsent__translate
      font-size: 19px
      line-height: inherit




.items
  display: flex
  flex-direction: row-reverse
  flex-wrap: wrap
  .item
    box-shadow: $bmd-shadow-2dp
    border-radius: 10px
    padding-top: 40px
    padding-right: 20px
    padding-left: 20px
    margin-bottom: 30px
    margin-left: 40px
    transition: .3s
    @media screen and (max-width: $gsm)
      padding-right: 10px
      padding-left: 10px
      padding-bottom: 0px
      margin-left: 15px
      margin-bottom: 15px
    .arsent
      flex-direction: column
      align-items: flex-end
    h2, h3
      margin-top: inherit
    &:hover
      box-shadow: $bmd-shadow-4dp

.items
  &_islabel
    .h2ar
      min-width: 170px
    .item
      position: relative
      margin-left: 50px
      @media screen and (max-width: $gsm)
        margin-left: 40px
        padding-right: 15px
      &__label
        position: absolute
        left: -43px
        top: 7px
        border-radius: 10px
        font-size: 33px
        padding: 4px 10px 4px 10px
        background: #ffffff
        transform: rotate(-60deg) translate(-20%)
  &_islabel_number
    .item
      &__label
        left: -13px;
        transform: rotate(-30deg) translate(-20%)

.items
  &_noborder
    .item
      box-shadow: none
      margin: 0
      &:hover
        box-shadow: none


/**
  animate-card
  *****/
.animate-card
   display: inline-block

.mobile-hid
  @media screen and (max-width: $gsm )
    display: none    

