// WRAPPERS
.wrap1
  padding: 20px 20px 10px

// заголовки
.h2ar
  font-size: 50px

// описние материала
.desc
  margin-bottom: 30px
  color: $gray-600
  &__ar
    font-size: 1.5rem
    color: #3c4858
  

// Выделение слов
.contrast
  color: $red


// Арабское предложение с переводом
.arsent
  margin-bottom: 25px
  &__original
    font-size: 30px
  &__translate
    font-size: 0.9rem
    padding-top: 7px

    
